/*!CK:3908591653!*//*1417412566,*/

.sp_gTlIMMtbro4{background-image:url(/rsrc.php/v2/yd/r/EBnBTO_n44h.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4.sx_035332{width:12px;background-position:0 -15px}.sp_gTlIMMtbro4.sx_de50d2{background-position:0 0}

#bootloader_Rp9Et { height: 42px; }
.bootloader_Rp9Et { display:block !important; }